body {
    margin: 0;
    padding: 0;
    font-family: "Cuprum", sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 18px;
	color: rgba(255, 255, 255);

}
.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 0;


}
.container-flex {
	display: flex;
	flex-wrap: nowrap;
	box-sizing: border-box;
}

.header {
	background-color: rgba(244,  247, 248);
	padding-bottom: 64px;

}

.header-top {
	width: 100%;
	background-color: rgba(41, 52, 73);
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
	box-sizing: border-box;
}
.site-logo-head,
.site-logo-header {
    text-align: center;
	padding: 11px 55px 3px 55px;
    text-decoration: none;
    font-size: 24px;
    line-height: 24px;
	color: rgba(255, 255, 255);
	background-color: rgba(238, 54, 67);
	box-shadow: 0 5px 0 rgba(181, 41, 51);
}

.search {
    position: relative;
    width: 270px;
    background-color: rgba(41, 52, 73);
    border-style: none;
    color: rgba(255, 255, 255);
    padding-top: 11px;
    padding-left: 48px;
    padding-bottom: 12px;


}
.search::-ms-clear {
    display: none;
}
.search-img{
	width:17px;
	height: 17px;
	position: absolute;
	background-image: url(../img/icon-search.svg);
	top: 12px;
	left: 17px;
}

.search::placeholder{
    position: relative;
    font-family: "Cuprum", sans-serif;
	font-style: normal;
    font-size: 17px;
    line-height: 18px;
	color: rgba(255, 255, 255);
}
.search:hover {
    background-color: rgba(33, 42, 58);
}
.search:hover + .search-img {
	background-image: url(../img/icon-search-hover.svg);
}


.search:active + .search-img,
.search:focus + .search-img {
	background-image: url(../img/icon-search-active.svg);
}


.search:focus,
.search:active{
    background-color: white;
    color: black;
    outline: none;
}

.site-logo-header:hover {
    background-color: rgba(202, 44, 55);


}

.site-logo-header:focus,
.site-logo-header:active {
    background-color: rgba(186, 39, 50);
    outline:none;
    }

.header-top-link:hover {
   background-color: rgba(33, 42, 58);

}

.header-top-link {
	text-decoration: none;
	font-size: 17px;
    line-height: 18px;
	color: rgba(255, 255, 255);
}

.header-top-link:focus,
.header-top-link:active {
    background-color: rgba(22, 29, 41);
    color: rgba(255, 255, 255, 0.6);
    outline:none;

}
.active{
	background-color: rgba(238, 54, 67);
}
.active:hover{
 background-color: rgba(202, 44, 55);
}
.active:focus,
.active:active  {
    background-color: rgba(186, 39, 50);
    outline:none;
}

.buy-button:hover {
    background-color: rgba(95, 187, 45);
}

.buy-button:focus,
.buy-button:active {
    background-color: rgba(81, 133, 52);
    color: rgba(255, 255, 255, 0.5);
}


.search-form {
    position: relative;
	width: 270px;
	height: 42px;
}
.bookmarks {
    position: relative;
	padding: 12px 28px 12px 44px;
}
.cart {
    position: relative;
	padding: 12px 31px 12px 49px;
}
.cart::before {
    content:"";
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url(../img/icon-cart.svg);
    background-repeat: no-repeat;
    left: 18px;
}
.cart:hover::before{
    background-image: url(../img/icon-cart-hover.svg);
}
.cart:active::before{
    background-image: url(../img/icon-cart-active.svg);
}


.bookmarks::before {
    content:"";
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url(../img/icon-bookmark.svg);
    background-repeat: no-repeat;
    left: 17px;
}
.bookmarks:hover::before{
    background-image: url(../img/icon-bookmark-hover.svg);
}

.bookmarks:active::before{
    background-image: url(../img/icon-bookmark-active.svg);
}

.buy-button {
    width: 150px;
    text-align: center;
    padding: 12px 22px 12px 19px;
	background-color: rgba(99, 166, 92);
	box-sizing: border-box;
}


.header-main {
	width: 100%;
    display: flex;
    flex-direction: row;
	padding: 38px 0 0px 0;
    max-height: 158px;




}
.nav-list {
	display: flex;
	width: 940px;
	padding: 0px;
	margin-top: 30px;
	box-sizing: border-box;

}
.header-h1 {

	min-width: 200px;
    max-width: 200px;
	margin-left: 52px;
	margin-right: 68px;
    font-family: 'Cuprum', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    color: rgba(238, 54, 67);

}

.contacts {
    margin-right: 26px;
    margin-top: 8px;
    width: 270px;
    max-height: 45px;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    color: rgba(50, 66, 92);
	font-family: 'Cuprum', sans-serif;

}

.phone {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 270px;
    padding: 12px 47px 12px 0;
    font-size: 21px;
    line-height: 21px;
    font-weight: 700px;
    color: rgba(238, 54, 67);
    box-shadow: inset 0 0 0 3px white;
    box-sizing: border-box;

}
.phone-img {
	margin-left: 15px;
}

/*
.phone::before {
    content:"";
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url(../img/icon-phone.svg);
    background-repeat: no-repeat;
    left: 17px;
}
*/
.top-adress {
	margin-top: 4px;
	margin-left: 5px;
    text-align: center;
	box-sizing: border-box;

}
.page-links,
.nav-list {
	list-style-type: none;

}
.user-links {
	width: 281px;
    max-height: 45px;
    margin-left: 43px;
    margin-top: 8px;
    display: flex;
    font-weight: 700;
    flex-wrap: nowrap;
    position: relative;

}
.profile {
    margin-left: -10px;
    max-width: 300px;
    max-height: 45px;
	padding: 10px 69px 10px 49px;
    background-color: rgba(255, 255, 255);

}
.exit{
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url(../img/icon-phone.svg);
    background-repeat: no-repeat;
    right: 45px;
}

.reg-link{
    width: 150px;
    max-height: 45px;
	padding: 12px 20px 10px 24px;
    background-color: rgba(255, 255, 255);
	box-sizing: border-box;


}
.login-link {
    position: relative;
    width: 121px;
    margin-right: 10px;
    padding: 12px 0 10px 47px;
    background-color: rgba(255, 255, 255);
    box-sizing: border-box;

}
.interactive{
	text-decoration: none;
	color: rgba(0, 0, 0);
	font-size: 21px;
    line-height: 21px;

}
.user-actions {
    color: rgba(50, 66, 92);
	font-size: 16px;
    line-height: 18px;


}
.login-link::before {
    content:"";
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url(../img/icon-login.svg);
    background-repeat: no-repeat;
    left: 14px;
    top: 14px;
}

.login-link:hover::before {
    background-image: url(../img/icon-login-hover.svg);
}

.login-link:active::before {
    background-image: url(../img/icon-login.svg);

}
.login-link:hover,
.reg-link:hover {
    color: rgba(238, 54, 67);
}

.user-actions:hover {
    color: rgba(238, 54, 67);
}


.interactive:focus,
.interactive:active{
    color: rgba(0, 0, 0, 0.3);
    outline:none;
}

.top-nav-li {

	display: flex;



}
.top-nav-link {
	padding: 19px 30px 19px 30px;
	text-align: center;
	text-decoration: none;
	font-size: 17px;
	line-height: 17px;
	color: rgba(255, 255, 255);
    background-color: rgba(50, 66, 92);
	box-shadow: 0 5px 0 rgba(41, 52, 73);
	box-sizing: border-box;
}
.top-nav-li:first-child .top-nav-link {
	padding-left: 52px;
}
.top-nav-li:last-child .top-nav-link {
	padding-right: 55px;
}
.top-nav-link:hover{
    background-color:rgba(41, 52, 73);
}

.top-nav-link:focus,
.top-nav-link:active{
    background-color:rgba(29, 39, 57);
    color: rgba(255, 255, 255, 0.5);
    outline:none;
}

.main-h1 {
    background-color: rgba(242, 246, 248);
    color: rgba(50, 66, 92);
    line-height: 30px;
    font-size: 30px;
}
.filter-button,
.page-nav-links {
    font-family: "PT Sans", sans-serif;
    text-decoration: none;
    font-size: 13px;
    line-height: 18px;
    color: rgba(0,0,0);
}

.filter-option{
    font-family: "PT Sans", sans-serif;
    font-size: 15px;
    line-height: 20px;
    color: rgba(0,0,0);
}
.filter-name {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 30px;
    color: rgba(0,0,0);
}

.filter-button {
    outline: none;
    background-color: white;
}


.item-buy,
.bookmark-button{
	text-decoration: none;
	font-size: 14px;
    line-height: 18px;
    color: rgba(255,255,255);
	background-color: rgba(99, 166, 62);
}

.item-buy:hover,
.item-buy:focus{
	background-color: rgba(95, 187, 45);
}

.item-buy:active {
	background-color: rgba(81, 133, 52);
}

.bookmark-button{
    color: rgba(50,66,92);
	background-color: rgba(255,255,255);
}

.bookmark-button:hover,
.bookmark-button:focus{
}

.bookmark-button:active {
	color: rgba(50,66,92, 0.3);
}
.item-name {
	text-decoration: none;
	color: rgba(0,0,0);
	font-family: "PT Sans", sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 20px;
}
.price-button,
.price-old {
	text-decoration: none;
	font-family:"PT Sans", sans-serif;
	font-weight: 700;
	font-size: 17px;
	line-height: 18px;
	color: rgba(255, 255, 255);
}
.price-button {
	background-color: rgba( 238,54,67);
}
.price-old {
	text-decoration: line-through;
	color: rgba(153, 153, 153);
}

.main-footer {
	display: flex;
    padding: 55px 0px 10px 130px;
    flex-direction: row;
    align-content: center;
	height: 472px;


}

.h2-contacts,
.company-name {
	padding-top: 1px;
	font-size: 30px;
	line-height: 26px;

	color: rgba(0, 0, 0);

}

.main-footer-right-side,
.main-footer-left-side{
	display: flex;
	width: 525px;
	flex-direction: column;


}
.main-footer-right-side {
	max-width: 400px;
	padding-left: 115px;
}

.company-place,
.main-footer-about {
	margin-top: 4px;
	font-family: 'PT Sans', sans-serif;
	font-size: 13px;
	line-height: 24px;
	color: rgba(0, 0, 0);
}
.second {
	padding-top: 6px;
}
.company {
	margin-top: -3px;
	width: 220px;
	max-height: 38px;
	text-align: center;
	padding-top: 11px;
	padding-bottom: 9px;
	border-radius: 3px;

}


.company-place {
	width: 180px;
}

.delivery-company {
	font-family: "Cuprum", sans-serif;
	list-style: none;
	padding-top: 2px;
	margin-left: -4px;
	display: flex;
	flex-direction: column;
	font-size: 18px;
	font-weight: 700;
	line-height: 20px;
	color: rgba(0, 0, 0);
}
.delivery-companys {
	position: relative;
	margin-bottom: 21px;
	margin-left: -25px;
	padding-left: 25px;
}
.delivery-companys::before {
	content: "";
	position: absolute;
	left: -10px;
	top: 10px;
	width: 23px;
	border: 1px solid rgba(238, 54, 67);
}
.mini-map {
	display: flex;
	margin-top: 31px;
}
.mail {
	margin-top: 27px;
	width: 300px;
	max-height: 38px;
	text-align: center;
	padding-top: 11px;
	padding-bottom: 9px;
	border-radius: 3px;

}


.footer-nav {

    max-width: 1200px;
	height: 193px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
	background-color: rgba(50, 66, 92);
	padding-left: 130px;
}

.footer-nav-top {
    display: flex;
    flex-wrap: wrap;
}

.footer-nav-bottom {
	padding-left: 130px;
	width: 1070px;
	height: 107px;
    display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	background-color: rgba(41, 52, 73)

}
.social-list {
    display: flex;
    flex-direction: row;
}
.footer-nav-ul,
.footer-nav-additional-ul {

	display: flex;
	flex-direction: row;
}
.footer-nav-additional {
    order: 4;
}

.h2-hidden {
	display: none;
}

.site-logo-footer{
	width: 220px;
	height: 45px;
	text-align: center;
	padding-top: 18px;
    font-size: 30px;
    line-height: 30px;
	color: rgba(255, 255, 255);
	background-color: rgba(238, 54, 67);
	box-shadow: 0 5px 0 rgba(181, 41, 51);
}
.footer-contacts{
	margin-left: 3px;
	width: 330px;
    order: 3;
	font-size: 18px;
	line-height: 24px;
	color: rgba(243, 247, 249);
}

.footer-nav-ul,
.footer-nav-additional-ul {
	list-style-type: none;
	display: flex;
	flex-direction: row;
}
.footer-nav-link,
.footer-attention-link {
	text-decoration: none;
	font-size: 18px;
    line-height: 24px;
	color: rgba(243, 247, 249);
}
.footer-attention-link {
	color: rgba(255, 218, 150);
}

.footer-nav-ul{
	padding-left: 111px;
}
.footer-nav-additional-ul {
	padding-left: 22px;
}


.list-link {
	margin-left: 60px;
	margin-top: 20px;
}
.attention {
	margin-left: 60px;

}
.feedback {
	max-width: 144px;
	margin-right: 43px;
}
.developer {
	max-width: 100px;
}
.feedback,
.developer {
	margin-top: 37px;
}



.feedback-link,
.developer-link {
	font-family: "Cuprum", sans-serif;
	color: rgba(255, 209, 128);
    font-size: 16px;
	line-height: 18px;
    text-decoration: none;
	}


.feedback-link:hover,
.developer-link:hover,
.footer-nav-link:hover,
.footer-attention-link:hover{
    text-decoration: underline;
}

.footer-nav-link:active,
.footer-nav-link:focus,
.footer-attention-link:active,
.footer-attention-link:focus {
     opacity: 0.5;
     text-decoration: none;
     outline:none;
}
.developer-link:active,
.developer-link:focus,
.feedback-link:active,
.feedback-link:focus{
    color: rgba(238, 54, 67);
    text-decoration: none;
     outline:none;

}
.social-button:hover,
.social-button:active,
.social-button:focus {
    background-color: rgba(238, 54, 67);
    outline: none;
}
.social-block {
	margin-top: 20px;
	margin-left: 115px;
	margin-right: 118px;
}

.social-button {

	background-color: rgba(33, 42, 58);
	border-radius: 50%;
	width: 41px;
	padding-top: 12px;
	padding-bottom: 5px;
	max-height: 41px;
	text-align: center;


}
.test {
	display: flex;
	margin-left: 5px;

}
.social-list {
    list-style-type: none;
}

.copyrights {
	margin-top: 36px;
	width: 230px;
	font-size: 16px;
	line-height: 18px;
	color: rgba(243, 247, 249);

}
.button-red{
    text-decoration: none;
	font-size: 14px;
	line-height: 18px;
	color: rgba(255, 255, 255);
	background-color: rgba(238, 54, 67);
}

.button-red:hover{
    background-color: rgba(202, 44, 55);
	outline:none;
	cursor: pointer;
}

.button-red:active,
.button-red:focus{
    background-color: rgba(186, 39, 50);
    outline:none;
	cursor: pointer;
}

.product-cart-text {
	font-size: 30px;
	line-height: 30px;
	color: rgba(0,0,0);
}
.go-button {
	background-color: rgba(255,255,255);
	color: rgba(0, 0,0 );
}

.modal {
	display: none;
}
